<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChartTest2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
    <userSettings>
        <ChartTest2.Properties.Settings>
            <setting name="ModAmp" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DemodAmp" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ModFreq" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="DemodFreq" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ModAtt" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DemodAtt" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Phase" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="P" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="I" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="D" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="yMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="yMax" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SampleRate" serializeAs="String">
                <value>0.0001</value>
            </setting>
            <setting name="IP" serializeAs="String">
                <value>192.168.1.229</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>1883</value>
            </setting>
            <setting name="ID" serializeAs="String">
                <value>04-91-62-d2-60-2f</value>
            </setting>
            <setting name="MemorySize" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="DisplayResolution" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="Averages" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="XYSmoothing" serializeAs="String">
                <value>0.3</value>
            </setting>
        </ChartTest2.Properties.Settings>
    </userSettings>
</configuration>